<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.AssetRackMapper">

    <resultMap type="AssetRack" id="AssetRackResult">
        <result property="id"    column="id"    />
        <result property="rackName"    column="rack_name"    />
        <result property="devices"    column="devices"    />
        <result property="rackSpace"    column="rack_space"    />
        <result property="consumption"    column="consumption"    />
        <result property="sn"    column="sn"    />
        <result property="rackNo"    column="rack_no"    />
        <result property="totalSpace"    column="total_space"    />
        <result property="hostType"    column="host_type"    />
        <result property="rackSignal"    column="rack_signal"    />
        <result property="voltage"    column="voltage"    />
        <result property="rackCurrent"    column="rack_current"    />
        <result property="powerFactor"    column="power_factor"    />
        <result property="frequency"    column="frequency"    />
        <result property="electric"    column="electric"    />
        <result property="powerActive"    column="power_active"    />
        <result property="powerApparent"    column="power_apparent"    />
        <result property="loadRate"    column="load_rate"    />
        <result property="harmonicRate"    column="harmonic_rate"    />
        <result property="temperature"    column="temperature"    />
    </resultMap>

    <sql id="selectAssetRackVo">
        select id, rack_name, devices, rack_space, consumption, sn, rack_no, total_space, host_type, rack_signal, voltage, rack_current, power_factor, frequency, electric, power_active, power_apparent, load_rate, harmonic_rate, temperature from asset_rack
    </sql>

    <select id="selectAssetRackList" parameterType="AssetRack" resultMap="AssetRackResult">
        <include refid="selectAssetRackVo"/>
        <where>
            <if test="rackName != null  and rackName != ''"> and rack_name like concat('%', #{rackName}, '%')</if>
            <if test="devices != null  and devices != ''"> and devices = #{devices}</if>
            <if test="rackSpace != null  and rackSpace != ''"> and rack_space = #{rackSpace}</if>
            <if test="consumption != null  and consumption != ''"> and consumption = #{consumption}</if>
            <if test="sn != null  and sn != ''"> and sn = #{sn}</if>
            <if test="rackNo != null  and rackNo != ''"> and rack_no = #{rackNo}</if>
            <if test="totalSpace != null  and totalSpace != ''"> and total_space = #{totalSpace}</if>
            <if test="hostType != null  and hostType != ''"> and host_type = #{hostType}</if>
            <if test="rackSignal != null  and rackSignal != ''"> and rack_signal = #{rackSignal}</if>
            <if test="voltage != null  and voltage != ''"> and voltage = #{voltage}</if>
            <if test="rackCurrent != null  and rackCurrent != ''"> and rack_current = #{rackCurrent}</if>
            <if test="powerFactor != null  and powerFactor != ''"> and power_factor = #{powerFactor}</if>
            <if test="frequency != null  and frequency != ''"> and frequency = #{frequency}</if>
            <if test="electric != null  and electric != ''"> and electric = #{electric}</if>
            <if test="powerActive != null  and powerActive != ''"> and power_active = #{powerActive}</if>
            <if test="powerApparent != null  and powerApparent != ''"> and power_apparent = #{powerApparent}</if>
            <if test="loadRate != null  and loadRate != ''"> and load_rate = #{loadRate}</if>
            <if test="harmonicRate != null  and harmonicRate != ''"> and harmonic_rate = #{harmonicRate}</if>
            <if test="temperature != null  and temperature != ''"> and temperature = #{temperature}</if>
        </where>
    </select>

    <select id="selectAssetRackById" parameterType="String" resultMap="AssetRackResult">
        <include refid="selectAssetRackVo"/>
        where id = #{id}
    </select>

    <insert id="insertAssetRack" parameterType="AssetRack" useGeneratedKeys="true" keyProperty="id">
        insert into asset_rack
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="rackName != null">rack_name,</if>
            <if test="devices != null">devices,</if>
            <if test="rackSpace != null">rack_space,</if>
            <if test="consumption != null">consumption,</if>
            <if test="sn != null">sn,</if>
            <if test="rackNo != null">rack_no,</if>
            <if test="totalSpace != null">total_space,</if>
            <if test="hostType != null">host_type,</if>
            <if test="rackSignal != null">rack_signal,</if>
            <if test="voltage != null">voltage,</if>
            <if test="rackCurrent != null">rack_current,</if>
            <if test="powerFactor != null">power_factor,</if>
            <if test="frequency != null">frequency,</if>
            <if test="electric != null">electric,</if>
            <if test="powerActive != null">power_active,</if>
            <if test="powerApparent != null">power_apparent,</if>
            <if test="loadRate != null">load_rate,</if>
            <if test="harmonicRate != null">harmonic_rate,</if>
            <if test="temperature != null">temperature,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="rackName != null">#{rackName},</if>
            <if test="devices != null">#{devices},</if>
            <if test="rackSpace != null">#{rackSpace},</if>
            <if test="consumption != null">#{consumption},</if>
            <if test="sn != null">#{sn},</if>
            <if test="rackNo != null">#{rackNo},</if>
            <if test="totalSpace != null">#{totalSpace},</if>
            <if test="hostType != null">#{hostType},</if>
            <if test="rackSignal != null">#{rackSignal},</if>
            <if test="voltage != null">#{voltage},</if>
            <if test="rackCurrent != null">#{rackCurrent},</if>
            <if test="powerFactor != null">#{powerFactor},</if>
            <if test="frequency != null">#{frequency},</if>
            <if test="electric != null">#{electric},</if>
            <if test="powerActive != null">#{powerActive},</if>
            <if test="powerApparent != null">#{powerApparent},</if>
            <if test="loadRate != null">#{loadRate},</if>
            <if test="harmonicRate != null">#{harmonicRate},</if>
            <if test="temperature != null">#{temperature},</if>
        </trim>
    </insert>

    <update id="updateAssetRack" parameterType="AssetRack">
        update asset_rack
        <trim prefix="SET" suffixOverrides=",">
            <if test="rackName != null">rack_name = #{rackName},</if>
            <if test="devices != null">devices = #{devices},</if>
            <if test="rackSpace != null">rack_space = #{rackSpace},</if>
            <if test="consumption != null">consumption = #{consumption},</if>
            <if test="sn != null">sn = #{sn},</if>
            <if test="rackNo != null">rack_no = #{rackNo},</if>
            <if test="totalSpace != null">total_space = #{totalSpace},</if>
            <if test="hostType != null">host_type = #{hostType},</if>
            <if test="rackSignal != null">rack_signal = #{rackSignal},</if>
            <if test="voltage != null">voltage = #{voltage},</if>
            <if test="rackCurrent != null">rack_current = #{rackCurrent},</if>
            <if test="powerFactor != null">power_factor = #{powerFactor},</if>
            <if test="frequency != null">frequency = #{frequency},</if>
            <if test="electric != null">electric = #{electric},</if>
            <if test="powerActive != null">power_active = #{powerActive},</if>
            <if test="powerApparent != null">power_apparent = #{powerApparent},</if>
            <if test="loadRate != null">load_rate = #{loadRate},</if>
            <if test="harmonicRate != null">harmonic_rate = #{harmonicRate},</if>
            <if test="temperature != null">temperature = #{temperature},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteAssetRackById" parameterType="String">
        delete from asset_rack where id = #{id}
    </delete>

    <delete id="deleteAssetRackByIds" parameterType="String">
        delete from asset_rack where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectAssetRackListByRackNo" parameterType="String" resultMap="AssetRackResult">
        <include refid="selectAssetRackVo"/>
        where rack_no = #{rackNo}
    </select>
</mapper>